lib/Google/Merchant/xsd/google-base-10.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:gn="http://base.google.com/ns/1.0" targetNamespace="http://base.google.com/ns/1.0" elementFormDefault="qualified" attributeFormDefault="unqualified">


  <xs:element name="feed">
    <xs:annotation>
      <xs:documentation>
        Describes the "schema" for a an XML feed to "googlebase".
        Note that this is only an "abstract schema" in the sense that
        google base does not currently accept a "feed" in this format.
        Instead, google base accepts feeds in a wide variety of "standard" XML 
        content feed formats (RSS2.0, Atom). The "item/entry" subelement of 
        a "RSS/Atom" feed corresponds to the "item" element defined below. 
        The sub elements of an item defined herein serve as the concrete
        definition of the "googlebase defined extensions" to the Atom/RSS
        schemas.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <!-- All elements defined herein (besides item) are provided at feed registration. -->
        <xs:element name="item_type" type="xs:string"/>
        <xs:element name="language" type="xs:string" minOccurs="0"/>
        <xs:element ref="gn:item" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="item" type="gn:itemType"/>

  <xs:complexType name="itemType">
    <xs:annotation> 
      <xs:documentation>
         Describes the "schema" for an "item" in googlebase -- the basic unit in a "feed". 

         Since google base will also accept feeds in a wide variety of "standard" XML content
         feed formats (RSS2.0, Atom), some of the item's sub elements 
         (the "baseElementGroup")  are represented by their corresponding child elements of 
         "item/entry" in "RSS/Atom". The correspondence is defined in a 
         seperate document. 

         The rest of the item's sub elements are represented as "extensions" 
         (belonging to the googlebase namespace) on the "item"/"entry" elements in 
         RSS/Atom formats.
         We group these extension elements into three, "google defined with complex content" 
         ("complexExtensionElementGroup") and " google defined with "simple content"
         ("simpleExtensionElementGroup") and "customer defined" (customExtensionElementGroup).
         Since all the elements in the google defined element groups are optional, the user
         is free to define all extensions as "custom".  However, the user is strongly encouraged
         to first consult the (ever-growing) list of google defined extensions to see if the
         information they want to provide is represented there and if so use thos extensions in favor
         of custom ones.
      </xs:documentation> 
    </xs:annotation>
    <xs:sequence>
      <xs:group ref="gn:baseElementGroup"/>
      <xs:group ref="gn:complexExtensionElementGroup"/>
      <xs:group ref="gn:simpleExtensionElementGroup"/>
      <xs:group ref="gn:customExtensionElementGroup"/>
    </xs:sequence>
  </xs:complexType>

  <xs:group name="baseElementGroup">
    <xs:annotation>
      <xs:documentation> 
        Defines the collection of (sub)elements of an item that are "mappable" 
        to (sub)elements of an "item/entry" in an existing "standard" content 
        syndication format (RSS/Atom). 
        Note that none of these elements (except "id") ARE top level 
        elements in this schema. This is because we expect them to be 
        represented using the corresponding RSS/Atom elements.
        "Id" is special because RSS1.0 does not have such an element defined.
        We will accept documents that have both id defined as a rss
        (sub)element and the same id defined in the gn namespace.
        We will use the value in the gn namespace in that case.
      </xs:documentation> 
    </xs:annotation>
    <xs:sequence>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
      <xs:element name="link" type="xs:anyURI" minOccurs="0"/>
      <xs:element name="title" type="xs:string" minOccurs="1"/>
      <xs:element ref="gn:id" minOccurs="0"/>
    </xs:sequence>
  </xs:group>

  <xs:group name="complexExtensionElementGroup">
    <xs:annotation>
      <xs:documentation> 
        Defines the collection of (sub)elements of an item that are "mappable" as "extension 
        (sub) elements" of an "item/entry" in an existing "standard" content syndication format (RSS/Atom)
        and have "complex" content. 
      </xs:documentation> 
    </xs:annotation>
    <xs:sequence>
      <!-- The following elements define a group of "suggested attributes" that are applicable to -->
      <!-- multiple item categories. Note that each of these is merely a suggestion but the user -->
      <!-- is strongly encouraged to use these attributes if they apply to the item they are listing -->
      <xs:element ref="gn:shipping" minOccurs="0" maxOccurs="10"/>
    </xs:sequence>
  </xs:group>

  <xs:group name="simpleExtensionElementGroup">
    <xs:annotation>
      <xs:documentation> 
        Defines the collection of (sub)elements of an item that are "mappable" as "extension 
        (sub) elements" of an "item/entry" in an existing "standard" content syndication format (RSS/Atom)
        and have "simple" content. 
      </xs:documentation> 
    </xs:annotation>
    <xs:sequence>
      <!-- The following elements define a group of "suggested attributes" that are applicable to -->
      <!-- multiple item categories. Note that each of these is merely a suggestion but the user -->
      <!-- is strongly encouraged to use these attributes if they apply to the item they are listing -->
      <xs:element ref="gn:actor" minOccurs="0" maxOccurs="10"/>
      <xs:element ref="gn:age" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="gn:agent" minOccurs="0" maxOccurs="10"/>
      <xs:element ref="gn:apparel_type" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="gn:area" minOccurs="0" maxOccurs="1"/> 
      <xs:element ref="gn:artist" minOccurs="0" maxOccurs="10"/>
      <xs:element ref="gn:author" minOccurs="0" maxOccurs="10"/>
      <xs:element ref="gn:bathrooms" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="gn:bedrooms" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="gn:brand" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="gn:color" minOccurs="0" maxOccurs="10"/>
      <xs:element ref="gn:condition" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="gn:course_date_range" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="gn:course_number" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="gn:course_times" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="gn:currency" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="gn:delivery_notes" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="gn:delivery_radius" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="gn:development_status" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="gn:education" minOccurs="0" maxOccurs="10"/>
      <xs:element ref="gn:employer" minOccurs="0" maxOccurs="10"/>
      <xs:element ref="gn:ethnicity" minOccurs="0" maxOccurs="10"/>
      <xs:element ref="gn:event_date_range" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="gn:expiration_date" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="gn:expiration_date_time" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="gn:for_sale" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="gn:format" minOccurs="0" maxOccurs="10"/>
      <xs:element ref="gn:from_location" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="gn:gender" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="gn:hoa_dues" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="gn:image_link" minOccurs="0" maxOccurs="10"/>
      <xs:element ref="gn:immigration_status" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="gn:interested_in" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="gn:isbn" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="gn:related_link" minOccurs="0" maxOccurs="10"/>
      <xs:element ref="gn:job_function" minOccurs="0" maxOccurs="10"/>
      <xs:element ref="gn:job_industry" minOccurs="0" maxOccurs="10"/>
      <xs:element ref="gn:job_type" minOccurs="0" maxOccurs="10"/>
      <xs:element ref="gn:label" minOccurs="0" maxOccurs="10"/>
      <xs:element ref="gn:license" minOccurs="0" maxOccurs="10"/>
      <xs:element ref="gn:listing_type" minOccurs="0" maxOccurs="10"/>
      <xs:element ref="gn:location" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="gn:make" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="gn:manufacturer" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="gn:manufacturer_id" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="gn:marital_status" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="gn:megapixels" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="gn:memory" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="gn:mileage" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="gn:model" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="gn:model_number" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="gn:name_of_item_reviewed" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="gn:news_source" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="gn:occupation" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="gn:operating_systems" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="gn:pages" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="gn:payment_accepted" minOccurs="0" maxOccurs="10"/>
      <xs:element ref="gn:payment_notes" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="gn:pickup" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="gn:price" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="gn:price_type" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="gn:processor_speed" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="gn:product_type" minOccurs="0" maxOccurs="10"/>
      <xs:element ref="gn:programming_language" minOccurs="0" maxOccurs="10"/>
      <xs:element ref="gn:property_type" minOccurs="0" maxOccurs="10"/>
      <xs:element ref="gn:publication_name" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="gn:publication_volume" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="gn:publish_date" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="gn:quantity" minOccurs="0" maxOccurs="1"/> 
      <xs:element ref="gn:rating" minOccurs="0" maxOccurs="1"/> 
      <xs:element ref="gn:rating_type" minOccurs="0" maxOccurs="1"/> 
      <xs:element ref="gn:review_type" minOccurs="0" maxOccurs="1"/> 
      <xs:element ref="gn:reviewer_type" minOccurs="0" maxOccurs="1"/> 
      <xs:element ref="gn:salary" minOccurs="0" maxOccurs="1"/> 
      <xs:element ref="gn:salary_type" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="gn:school_district" minOccurs="0" maxOccurs="1"/> 
      <xs:element ref="gn:service_type" minOccurs="0" maxOccurs="1"/> 
      <xs:element ref="gn:sexual_orientation" minOccurs="0" maxOccurs="1"/> 
      <xs:element ref="gn:size" minOccurs="0" maxOccurs="10"/> 
      <xs:element ref="gn:square_footage" minOccurs="0" maxOccurs="10"/> 
      <xs:element ref="gn:subject" minOccurs="0" maxOccurs="10"/> 
      <xs:element ref="gn:subject_area" minOccurs="0" maxOccurs="10"/> 
      <xs:element ref="gn:tax_region" minOccurs="0" maxOccurs="1"/> 
      <xs:element ref="gn:tax_percent" minOccurs="0" maxOccurs="1"/> 
      <xs:element ref="gn:to_location" minOccurs="0" maxOccurs="1"/> 
      <xs:element ref="gn:travel_date_range" minOccurs="0" maxOccurs="1"/> 
      <xs:element ref="gn:university" minOccurs="0" maxOccurs="1"/> 
      <xs:element ref="gn:upc" minOccurs="0" maxOccurs="1"/> 
      <xs:element ref="gn:url_of_item_reviewed" minOccurs="0" maxOccurs="1"/> 
      <xs:element ref="gn:vehicle_type" minOccurs="0" maxOccurs="10"/> 
      <xs:element ref="gn:vin" minOccurs="0" maxOccurs="1"/> 
      <xs:element ref="gn:weight" minOccurs="0" maxOccurs="1"/> 
      <xs:element ref="gn:year" minOccurs="0" maxOccurs="1"/> 
    </xs:sequence>
  </xs:group>

  <xs:group name="customExtensionElementGroup">
    <xs:annotation>
      <xs:documentation> 
      The following wild card defines our extension mechanism. Note that while the following --&gt; 
      XML schema syntax is very loose, we will accept only elements with "simple content" (no   
      sub elements).
      The elements can have a "optional" type attribute ("gn:elementType") associated with a  
      value defined in the elementTypeEnumeration 
      </xs:documentation> 
    </xs:annotation>
    <xs:sequence>
      <xs:any namespace="http://base.google.com/cns/1.0" processContents="lax" minOccurs="0" maxOccurs="20"/>
    </xs:sequence>
  </xs:group>

  <!-- Optional attribute for use with custom extension elements. -->
  <xs:attribute name="elementType" type="gn:elementTypeEnumeration"/>

  <!-- Elements belonging to the extension element group of an item -->
  <!-- They are arranged below in alphabetical order.  -->
  <xs:element name="actor" type="gn:stringAttrValueType"/>
  <xs:element name="age" type="xs:unsignedByte"/>
  <xs:element name="agent" type="gn:stringAttrValueType"/>
  <xs:element name="apparel_type" type="gn:stringAttrValueType"/>
  <xs:element name="area" type="gn:intUnitType"/> 
  <xs:element name="artist" type="gn:stringAttrValueType"/>
  <xs:element name="author" type="gn:stringAttrValueType"/>
  <xs:element name="bathrooms" type="gn:nonNegativeDecimalType"/>
  <xs:element name="bedrooms" type="xs:unsignedByte"/>
  <xs:element name="brand" type="gn:stringAttrValueType"/>
  <xs:element name="color" type="gn:stringAttrValueType"/>
  <xs:element name="condition" type="gn:stringAttrValueType"/>
  <xs:element name="course_date_range" type="gn:dateTimeRangeType"/>
  <xs:element name="course_number" type="gn:stringAttrValueType"/>
  <xs:element name="course_times" type="gn:stringAttrValueType"/>
  <xs:element name="currency" type="gn:currencyCodeEnumeration"/>
  <xs:element name="delivery_notes" type="gn:stringAttrValueType"/>
  <xs:element name="delivery_radius" type="gn:floatUnitType"/>
  <xs:element name="development_status" type="gn:stringAttrValueType"/>
  <xs:element name="education" type="gn:stringAttrValueType"/>
  <xs:element name="employer" type="gn:stringAttrValueType"/>
  <xs:element name="ethnicity" type="gn:stringAttrValueType"/>
  <xs:element name="event_date_range" type="gn:dateTimeRangeType"/>
  <xs:element name="expiration_date" type="xs:date"/>
  <xs:element name="expiration_date_time" type="xs:dateTime"/>
  <xs:element name="for_sale" type="xs:boolean"/>
  <xs:element name="format" type="gn:stringAttrValueType"/>
  <xs:element name="from_location" type="gn:locationType"/>
  <xs:element name="gender" type="gn:genderEnumeration"/>
  <xs:element name="hoa_dues" type="gn:nonNegativeDecimalType"/>
  <xs:element name="id" type="gn:stringAttrValueType"/>
  <xs:element name="image_link" type="xs:anyURI"/>
  <xs:element name="immigration_status" type="gn:stringAttrValueType"/>
  <xs:element name="interested_in" type="gn:stringAttrValueType"/>
  <xs:element name="isbn" type="gn:stringAttrValueType"/>
  <xs:element name="job_function" type="gn:stringAttrValueType"/>
  <xs:element name="job_industry" type="gn:stringAttrValueType"/>
  <xs:element name="job_type" type="gn:stringAttrValueType"/>
  <xs:element name="label" type="gn:stringAttrValueType"/>
  <xs:element name="license" type="gn:stringAttrValueType"/>
  <xs:element name="listing_type" type="gn:stringAttrValueType"/>
  <xs:element name="location" type="gn:locationType"/>
  <xs:element name="make" type="gn:stringAttrValueType"/>
  <xs:element name="manufacturer" type="gn:stringAttrValueType"/>
  <xs:element name="manufacturer_id" type="gn:stringAttrValueType"/>
  <xs:element name="marital_status" type="gn:stringAttrValueType"/>
  <xs:element name="megapixels" type="gn:floatUnitType"/>
  <xs:element name="memory" type="gn:floatUnitType"/>
  <xs:element name="mileage" type="gn:intUnitType"/>
  <xs:element name="model" type="gn:stringAttrValueType"/>
  <xs:element name="model_number" type="gn:stringAttrValueType"/>
  <xs:element name="name_of_item_reviewed" type="gn:stringAttrValueType"/>
  <xs:element name="news_source" type="gn:stringAttrValueType"/>
  <xs:element name="occupation" type="gn:stringAttrValueType"/>
  <xs:element name="operating_systems" type="gn:stringAttrValueType"/>
  <xs:element name="pages" type="xs:unsignedLong"/>
  <xs:element name="payment_accepted" type="gn:paymentMethodEnumeration"/>
  <xs:element name="payment_notes" type="gn:stringAttrValueType"/>
  <xs:element name="pickup" type="xs:boolean"/>
  <xs:element name="price" type="gn:floatUnitType"/>
  <xs:element name="price_type" type="gn:priceTypeEnumeration"/>
  <xs:element name="processor_speed" type="gn:floatUnitType"/>
  <xs:element name="product_type" type="gn:stringAttrValueType"/>
  <xs:element name="programming_language" type="gn:stringAttrValueType"/>
  <xs:element name="property_type" type="gn:stringAttrValueType"/>
  <xs:element name="publication_name" type="gn:stringAttrValueType"/>
  <xs:element name="publication_volume" type="gn:stringAttrValueType"/>
  <xs:element name="publish_date" type="xs:date"/>
  <xs:element name="quantity" type="xs:unsignedLong"/> 
  <xs:element name="rating" type="gn:stringAttrValueType"/> 
  <xs:element name="rating_type" type="gn:stringAttrValueType"/> 
  <xs:element name="review_type" type="gn:stringAttrValueType"/> 
  <xs:element name="reviewer_type" type="gn:stringAttrValueType"/> 
  <xs:element name="related_link" type="xs:anyURI"/>
  <xs:element name="salary" type="gn:nonNegativeDecimalType"/> 
  <xs:element name="salary_type" type="gn:priceTypeEnumeration"/> 
  <xs:element name="school_district" type="gn:stringAttrValueType"/> 
  <xs:element name="service_type" type="gn:stringAttrValueType"/> 
  <xs:element name="sexual_orientation" type="gn:stringAttrValueType"/> 
  <xs:element name="shipping" type="gn:shippingType"/> 
  <xs:element name="size" type="gn:stringAttrValueType"/> 
  <xs:element name="square_footage" type="gn:intUnitType"/> 
  <xs:element name="subject" type="gn:stringAttrValueType"/> 
  <xs:element name="subject_area" type="gn:stringAttrValueType"/> 
  <xs:element name="tax_region" type="gn:stringAttrValueType"/> 
  <xs:element name="tax_percent" type="gn:percentType"/> 
  <xs:element name="to_location" type="gn:locationType"/> 
  <xs:element name="travel_date_range" type="gn:dateTimeRangeType"/> 
  <xs:element name="university" type="gn:stringAttrValueType"/> 
  <xs:element name="upc" type="gn:stringAttrValueType"/> 
  <xs:element name="url_of_item_reviewed" type="xs:anyURI"/> 
  <xs:element name="vehicle_type" type="gn:stringAttrValueType"/> 
  <xs:element name="vin" type="gn:stringAttrValueType"/> 
  <xs:element name="weight" type="gn:floatUnitType"/> 
  <xs:element name="year" type="xs:gYear"/> 



  <xs:complexType name="taxType">
    <xs:all>
      <xs:element name="region" type="gn:stringAttrValueType"/>
      <xs:element name="percent" type="gn:percentType"/>
    </xs:all>
  </xs:complexType>

  <xs:simpleType name="percentType">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="100"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="nonNegativeDecimalType">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="shippingType">
    <xs:annotation>
      <xs:documentation> 
        Defines shipping option for an item. 
      </xs:documentation> 
    </xs:annotation>
    <xs:sequence>
      <xs:element name="country" type="gn:countryEnumeration"/>
      <xs:element name="service" type="gn:stringAttrValueType"/>
      <xs:element name="price" type="gn:nonNegativeDecimalType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="dateTimeRangeType">
    <xs:annotation>
      <xs:documentation> 
        Defines a time interval.
      </xs:documentation> 
    </xs:annotation>
    <xs:sequence>
      <xs:element name="start" type="xs:dateTime"/>
      <xs:element name="end" type="xs:dateTime" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="elementTypeEnumeration">
    <xs:restriction base="xs:string">
      <xs:enumeration value="boolean"/>
      <xs:enumeration value="int"/>
      <xs:enumeration value="float"/>
      <xs:enumeration value="location"/>
      <xs:enumeration value="url"/>
      <xs:enumeration value="date"/>
      <xs:enumeration value="dateTime"/>
      <xs:enumeration value="dateTimeRange"/>
      <xs:enumeration value="intUnit"/>
      <xs:enumeration value="floatUnit"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="customStringExample" type="gn:stringAttrValueType"/>
  <xs:element name="customIntExample" type="xs:integer"/>
  <xs:element name="customFloatExample" type="xs:float"/>
  <xs:element name="customLocationExample" type="gn:locationType"/>
  <xs:element name="customUrlExample" type="xs:anyURI"/>
  <xs:element name="customDateExample" type="xs:date"/>
  <xs:element name="customDateTimeExample" type="xs:dateTime"/>
  <xs:element name="customDateTimeRangeExample" type="gn:dateTimeRangeType"/>
  <xs:element name="customBooleanExample" type="xs:boolean"/>
  <xs:element name="customIntUnitExample" type="gn:intUnitType"/>
  <xs:element name="customFloatUnitExample" type="gn:floatUnitType"/>


  <xs:simpleType name="priceTypeEnumeration">
    <xs:restriction base="xs:string">
      <xs:enumeration value="negotiable"/>
      <xs:enumeration value="starting"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="paymentMethodEnumeration">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Cash"/>
      <xs:enumeration value="Check"/>
      <xs:enumeration value="Visa"/>
      <xs:enumeration value="MasterCard"/>
      <xs:enumeration value="Discover"/>
      <xs:enumeration value="AmericanExpress"/>
      <xs:enumeration value="WireTransfer"/>
      <xs:enumeration value="PayPal"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="locationType">
    <xs:restriction base="xs:string">
       <xs:maxLength value="256"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="genderEnumeration">
    <xs:restriction base="xs:string">
      <xs:enumeration value="male"/>
      <xs:enumeration value="M"/>
      <xs:enumeration value="female"/>
      <xs:enumeration value="F"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- The following two are numeric types that allow for a trailing string  -->
  <!-- to describe "units" information.                                  -->
  <!-- Valid instances of these types are:                               -->
  <!--    45 per item      (intUnitType)                                 -->  
  <!--    2.35 per dozen   (floatUnitType)                               -->
  <xs:simpleType name="intUnitType">
    <xs:restriction base="xs:string">
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="floatUnitType">
    <xs:restriction base="xs:string">
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="stringAttrValueType">
    <xs:restriction base="xs:string">
       <xs:maxLength value="1000"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="uriAttrValueType">
    <xs:restriction base="xs:anyURI">
       <xs:maxLength value="1000"/>
    </xs:restriction>
  </xs:simpleType>

        
  <xs:simpleType name="countryEnumeration">
    <xs:annotation>
      <xs:documentation>
        The country that this listing is located in. The value must be a
        ISO 3116 uppercase 2-letter country code 
        (http://www.iso.org/iso/en/prods-services/iso3166ma/02iso-3166-code-lists/list-en1.html).
        For example, United States is US and Canada is CA.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="AD"/>
      <xs:enumeration value="AE"/>
      <xs:enumeration value="AF"/>
      <xs:enumeration value="AG"/>
      <xs:enumeration value="AI"/>
      <xs:enumeration value="AL"/>
      <xs:enumeration value="AM"/>
      <xs:enumeration value="AN"/>
      <xs:enumeration value="AO"/>
      <xs:enumeration value="AQ"/>
      <xs:enumeration value="AR"/>
      <xs:enumeration value="AS"/>
      <xs:enumeration value="AT"/>
      <xs:enumeration value="AU"/>
      <xs:enumeration value="AW"/>
      <xs:enumeration value="AX"/>
      <xs:enumeration value="AZ"/>
      <xs:enumeration value="BA"/>
      <xs:enumeration value="BB"/>
      <xs:enumeration value="BD"/>
      <xs:enumeration value="BE"/>
      <xs:enumeration value="BF"/>
      <xs:enumeration value="BG"/>
      <xs:enumeration value="BH"/>
      <xs:enumeration value="BI"/>
      <xs:enumeration value="BJ"/>
      <xs:enumeration value="BM"/>
      <xs:enumeration value="BN"/>
      <xs:enumeration value="BO"/>
      <xs:enumeration value="BR"/>
      <xs:enumeration value="BS"/>
      <xs:enumeration value="BT"/>
      <xs:enumeration value="BV"/>
      <xs:enumeration value="BW"/>
      <xs:enumeration value="BY"/>
      <xs:enumeration value="BZ"/>
      <xs:enumeration value="CA"/>
      <xs:enumeration value="CC"/>
      <xs:enumeration value="CD"/>
      <xs:enumeration value="CF"/>
      <xs:enumeration value="CG"/>
      <xs:enumeration value="CH"/>
      <xs:enumeration value="CI"/>
      <xs:enumeration value="CK"/>
      <xs:enumeration value="CL"/>
      <xs:enumeration value="CM"/>
      <xs:enumeration value="CN"/>
      <xs:enumeration value="CO"/>
      <xs:enumeration value="CR"/>
      <xs:enumeration value="CS"/>
      <xs:enumeration value="CU"/>
      <xs:enumeration value="CV"/>
      <xs:enumeration value="CX"/>
      <xs:enumeration value="CY"/>
      <xs:enumeration value="CZ"/>
      <xs:enumeration value="DE"/>
      <xs:enumeration value="DJ"/>
      <xs:enumeration value="DK"/>
      <xs:enumeration value="DM"/>
      <xs:enumeration value="DO"/>
      <xs:enumeration value="DZ"/>
      <xs:enumeration value="EC"/>
      <xs:enumeration value="EE"/>
      <xs:enumeration value="EG"/>
      <xs:enumeration value="EH"/>
      <xs:enumeration value="ER"/>
      <xs:enumeration value="ES"/>
      <xs:enumeration value="ET"/>
      <xs:enumeration value="FI"/>
      <xs:enumeration value="FJ"/>
      <xs:enumeration value="FK"/>
      <xs:enumeration value="FM"/>
      <xs:enumeration value="FO"/>
      <xs:enumeration value="FR"/>
      <xs:enumeration value="GA"/>
      <xs:enumeration value="GB"/>
      <xs:enumeration value="GD"/>
      <xs:enumeration value="GE"/>
      <xs:enumeration value="GF"/>
      <xs:enumeration value="GH"/>
      <xs:enumeration value="GI"/>
      <xs:enumeration value="GL"/>
      <xs:enumeration value="GM"/>
      <xs:enumeration value="GN"/>
      <xs:enumeration value="GP"/>
      <xs:enumeration value="GQ"/>
      <xs:enumeration value="GR"/>
      <xs:enumeration value="GS"/>
      <xs:enumeration value="GT"/>
      <xs:enumeration value="GU"/>
      <xs:enumeration value="GW"/>
      <xs:enumeration value="GY"/>
      <xs:enumeration value="HK"/>
      <xs:enumeration value="HM"/>
      <xs:enumeration value="HN"/>
      <xs:enumeration value="HR"/>
      <xs:enumeration value="HT"/>
      <xs:enumeration value="HU"/>
      <xs:enumeration value="ID"/>
      <xs:enumeration value="IE"/>
      <xs:enumeration value="IL"/>
      <xs:enumeration value="IN"/>
      <xs:enumeration value="IO"/>
      <xs:enumeration value="IQ"/>
      <xs:enumeration value="IR"/>
      <xs:enumeration value="IS"/>
      <xs:enumeration value="IT"/>
      <xs:enumeration value="JM"/>
      <xs:enumeration value="JO"/>
      <xs:enumeration value="JP"/>
      <xs:enumeration value="KE"/>
      <xs:enumeration value="KG"/>
      <xs:enumeration value="KH"/>
      <xs:enumeration value="KI"/>
      <xs:enumeration value="KM"/>
      <xs:enumeration value="KN"/>
      <xs:enumeration value="KP"/>
      <xs:enumeration value="KR"/>
      <xs:enumeration value="KW"/>
      <xs:enumeration value="KY"/>
      <xs:enumeration value="KZ"/>
      <xs:enumeration value="LA"/>
      <xs:enumeration value="LB"/>
      <xs:enumeration value="LC"/>
      <xs:enumeration value="LI"/>
      <xs:enumeration value="LK"/>
      <xs:enumeration value="LR"/>
      <xs:enumeration value="LS"/>
      <xs:enumeration value="LT"/>
      <xs:enumeration value="LU"/>
      <xs:enumeration value="LV"/>
      <xs:enumeration value="LY"/>
      <xs:enumeration value="MA"/>
      <xs:enumeration value="MC"/>
      <xs:enumeration value="MD"/>
      <xs:enumeration value="MG"/>
      <xs:enumeration value="MH"/>
      <xs:enumeration value="MK"/>
      <xs:enumeration value="ML"/>
      <xs:enumeration value="MM"/>
      <xs:enumeration value="MN"/>
      <xs:enumeration value="MO"/>
      <xs:enumeration value="MP"/>
      <xs:enumeration value="MQ"/>
      <xs:enumeration value="MR"/>
      <xs:enumeration value="MS"/>
      <xs:enumeration value="MT"/>
      <xs:enumeration value="MU"/>
      <xs:enumeration value="MV"/>
      <xs:enumeration value="MW"/>
      <xs:enumeration value="MX"/>
      <xs:enumeration value="MY"/>
      <xs:enumeration value="MZ"/>
      <xs:enumeration value="NA"/>
      <xs:enumeration value="NC"/>
      <xs:enumeration value="NE"/>
      <xs:enumeration value="NF"/>
      <xs:enumeration value="NG"/>
      <xs:enumeration value="NI"/>
      <xs:enumeration value="NL"/>
      <xs:enumeration value="NO"/>
      <xs:enumeration value="NP"/>
      <xs:enumeration value="NR"/>
      <xs:enumeration value="NU"/>
      <xs:enumeration value="NZ"/>
      <xs:enumeration value="OM"/>
      <xs:enumeration value="PA"/>
      <xs:enumeration value="PE"/>
      <xs:enumeration value="PF"/>
      <xs:enumeration value="PG"/>
      <xs:enumeration value="PH"/>
      <xs:enumeration value="PK"/>
      <xs:enumeration value="PL"/>
      <xs:enumeration value="PM"/>
      <xs:enumeration value="PN"/>
      <xs:enumeration value="PR"/>
      <xs:enumeration value="PS"/>
      <xs:enumeration value="PT"/>
      <xs:enumeration value="PW"/>
      <xs:enumeration value="PY"/>
      <xs:enumeration value="QA"/>
      <xs:enumeration value="RE"/>
      <xs:enumeration value="RO"/>
      <xs:enumeration value="RU"/>
      <xs:enumeration value="RW"/>
      <xs:enumeration value="SA"/>
      <xs:enumeration value="SB"/>
      <xs:enumeration value="SC"/>
      <xs:enumeration value="SD"/>
      <xs:enumeration value="SE"/>
      <xs:enumeration value="SG"/>
      <xs:enumeration value="SH"/>
      <xs:enumeration value="SI"/>
      <xs:enumeration value="SJ"/>
      <xs:enumeration value="SK"/>
      <xs:enumeration value="SL"/>
      <xs:enumeration value="SM"/>
      <xs:enumeration value="SN"/>
      <xs:enumeration value="SO"/>
      <xs:enumeration value="SR"/>
      <xs:enumeration value="ST"/>
      <xs:enumeration value="SV"/>
      <xs:enumeration value="SY"/>
      <xs:enumeration value="SZ"/>
      <xs:enumeration value="TC"/>
      <xs:enumeration value="TD"/>
      <xs:enumeration value="TF"/>
      <xs:enumeration value="TG"/>
      <xs:enumeration value="TH"/>
      <xs:enumeration value="TJ"/>
      <xs:enumeration value="TK"/>
      <xs:enumeration value="TL"/>
      <xs:enumeration value="TM"/>
      <xs:enumeration value="TN"/>
      <xs:enumeration value="TO"/>
      <xs:enumeration value="TR"/>
      <xs:enumeration value="TT"/>
      <xs:enumeration value="TV"/>
      <xs:enumeration value="TW"/>
      <xs:enumeration value="TZ"/>
      <xs:enumeration value="UA"/>
      <xs:enumeration value="UG"/>
      <xs:enumeration value="UM"/>
      <xs:enumeration value="US"/>
      <xs:enumeration value="UY"/>
      <xs:enumeration value="UZ"/>
      <xs:enumeration value="VA"/>
      <xs:enumeration value="VC"/>
      <xs:enumeration value="VE"/>
      <xs:enumeration value="VG"/>
      <xs:enumeration value="VI"/>
      <xs:enumeration value="VN"/>
      <xs:enumeration value="VU"/>
      <xs:enumeration value="WF"/>
      <xs:enumeration value="WS"/>
      <xs:enumeration value="YE"/>
      <xs:enumeration value="YT"/>
      <xs:enumeration value="ZA"/>
      <xs:enumeration value="ZM"/>
      <xs:enumeration value="ZW"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="currencyCodeEnumeration">
    <xs:annotation>
      <xs:documentation>
        ISO 4217 standard.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
       <xs:enumeration value="AED"/>
       <xs:enumeration value="AFA"/>
       <xs:enumeration value="ALL"/>
       <xs:enumeration value="AMD"/>
       <xs:enumeration value="ANG"/>
       <xs:enumeration value="AOA"/>
       <xs:enumeration value="ARS"/>
       <xs:enumeration value="AUD"/>
       <xs:enumeration value="AWG"/>
       <xs:enumeration value="AZM"/>
       <xs:enumeration value="BAM"/>
       <xs:enumeration value="BBD"/>
       <xs:enumeration value="BDT"/>
       <xs:enumeration value="BGN"/>
       <xs:enumeration value="BHD"/>
       <xs:enumeration value="BIF"/>
       <xs:enumeration value="BMD"/>
       <xs:enumeration value="BND"/>
       <xs:enumeration value="BOB"/>
       <xs:enumeration value="BRL"/>
       <xs:enumeration value="BSD"/>
       <xs:enumeration value="BTN"/>
       <xs:enumeration value="BWP"/>
       <xs:enumeration value="BYR"/>
       <xs:enumeration value="BZD"/>
       <xs:enumeration value="CAD"/>
       <xs:enumeration value="CDF"/>
       <xs:enumeration value="CHF"/>
       <xs:enumeration value="CLP"/>
       <xs:enumeration value="CNY"/>
       <xs:enumeration value="CRC"/>
       <xs:enumeration value="CSD"/>
       <xs:enumeration value="CUP"/>
       <xs:enumeration value="CVE"/>
       <xs:enumeration value="CYP"/>
       <xs:enumeration value="CZK"/>
       <xs:enumeration value="DJF"/>
       <xs:enumeration value="DKK"/>
       <xs:enumeration value="DOP"/>
       <xs:enumeration value="DZD"/>
       <xs:enumeration value="EEK"/>
       <xs:enumeration value="EGP"/>
       <xs:enumeration value="ERN"/>
       <xs:enumeration value="ETB"/>
       <xs:enumeration value="EUR"/>
       <xs:enumeration value="FJD"/>
       <xs:enumeration value="FKP"/>
       <xs:enumeration value="GBP"/>
       <xs:enumeration value="GEL"/>
       <xs:enumeration value="GGP"/>
       <xs:enumeration value="GHC"/>
       <xs:enumeration value="GIP"/>
       <xs:enumeration value="GMD"/>
       <xs:enumeration value="GNF"/>
       <xs:enumeration value="GTQ"/>
       <xs:enumeration value="GYD"/>
       <xs:enumeration value="HKD"/>
       <xs:enumeration value="HNL"/>
       <xs:enumeration value="HRK"/>
       <xs:enumeration value="HTG"/>
       <xs:enumeration value="HUF"/>
       <xs:enumeration value="IDR"/>
       <xs:enumeration value="ILS"/>
       <xs:enumeration value="IMP"/>
       <xs:enumeration value="INR"/>
       <xs:enumeration value="IQD"/>
       <xs:enumeration value="IRR"/>
       <xs:enumeration value="ISK"/>
       <xs:enumeration value="JEP"/>
       <xs:enumeration value="JMD"/>
       <xs:enumeration value="JOD"/>
       <xs:enumeration value="JPY"/>
       <xs:enumeration value="KES"/>
       <xs:enumeration value="KGS"/>
       <xs:enumeration value="KHR"/>
       <xs:enumeration value="KMF"/>
       <xs:enumeration value="KPW"/>
       <xs:enumeration value="KRW"/>
       <xs:enumeration value="KWD"/>
       <xs:enumeration value="KYD"/>
       <xs:enumeration value="KZT"/>
       <xs:enumeration value="LAK"/>
       <xs:enumeration value="LBP"/>
       <xs:enumeration value="LKR"/>
       <xs:enumeration value="LRD"/>
       <xs:enumeration value="LSL"/>
       <xs:enumeration value="LTL"/>
       <xs:enumeration value="LVL"/>
       <xs:enumeration value="LYD"/>
       <xs:enumeration value="MAD"/>
       <xs:enumeration value="MDL"/>
       <xs:enumeration value="MGA"/>
       <xs:enumeration value="MKD"/>
       <xs:enumeration value="MMK"/>
       <xs:enumeration value="MNT"/>
       <xs:enumeration value="MOP"/>
       <xs:enumeration value="MRO"/>
       <xs:enumeration value="MTL"/>
       <xs:enumeration value="MUR"/>
       <xs:enumeration value="MVR"/>
       <xs:enumeration value="MWK"/>
       <xs:enumeration value="MXN"/>
       <xs:enumeration value="MYR"/>
       <xs:enumeration value="MZM"/>
       <xs:enumeration value="NAD"/>
       <xs:enumeration value="NGN"/>
       <xs:enumeration value="NIO"/>
       <xs:enumeration value="NOK"/>
       <xs:enumeration value="NPR"/>
       <xs:enumeration value="NZD"/>
       <xs:enumeration value="OMR"/>
       <xs:enumeration value="PAB"/>
       <xs:enumeration value="PEN"/>
       <xs:enumeration value="PGK"/>
       <xs:enumeration value="PHP"/>
       <xs:enumeration value="PKR"/>
       <xs:enumeration value="PLN"/>
       <xs:enumeration value="PYG"/>
       <xs:enumeration value="QAR"/>
       <xs:enumeration value="RON"/>
       <xs:enumeration value="RUB"/>
       <xs:enumeration value="RWF"/>
       <xs:enumeration value="SAR"/>
       <xs:enumeration value="SBD"/>
       <xs:enumeration value="SCR"/>
       <xs:enumeration value="SDD"/>
       <xs:enumeration value="SEK"/>
       <xs:enumeration value="SGD"/>
       <xs:enumeration value="SHP"/>
       <xs:enumeration value="SIT"/>
       <xs:enumeration value="SKK"/>
       <xs:enumeration value="SLL"/>
       <xs:enumeration value="SOS"/>
       <xs:enumeration value="SPL"/>
       <xs:enumeration value="SRD"/>
       <xs:enumeration value="STD"/>
       <xs:enumeration value="SVC"/>
       <xs:enumeration value="SYP"/>
       <xs:enumeration value="SZL"/>
       <xs:enumeration value="THB"/>
       <xs:enumeration value="TJS"/>
       <xs:enumeration value="TMM"/>
       <xs:enumeration value="TND"/>
       <xs:enumeration value="TOP"/>
       <xs:enumeration value="TRL"/>
       <xs:enumeration value="TRY"/>
       <xs:enumeration value="TTD"/>
       <xs:enumeration value="TVD"/>
       <xs:enumeration value="TWD"/>
       <xs:enumeration value="TZS"/>
       <xs:enumeration value="UAH"/>
       <xs:enumeration value="UGX"/>
       <xs:enumeration value="USD"/>
       <xs:enumeration value="UYU"/>
       <xs:enumeration value="UZS"/>
       <xs:enumeration value="VEB"/>
       <xs:enumeration value="VND"/>
       <xs:enumeration value="VUV"/>
       <xs:enumeration value="WST"/>
       <xs:enumeration value="XAF"/>
       <xs:enumeration value="XAG"/>
       <xs:enumeration value="XAU"/>
       <xs:enumeration value="XCD"/>
       <xs:enumeration value="XDR"/>
       <xs:enumeration value="XOF"/>
       <xs:enumeration value="XPD"/>
       <xs:enumeration value="XPF"/>
       <xs:enumeration value="XPT"/>
       <xs:enumeration value="YER"/>
       <xs:enumeration value="ZAR"/>
       <xs:enumeration value="ZMK"/>
       <xs:enumeration value="ZWD"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>